01 - Código/DS.OrangeAdmin/DS.OrangeAdmin.DataProvider/Service References/OrangeAdminService/OrangeAdminService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45985/OrangeAdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DS.OrangeAdmin.Server.Queries" />
  <xs:import schemaLocation="http://localhost:45985/OrangeAdminService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DS.OrangeAdmin.Core.DTO" />
  <xs:element name="GetClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DS.OrangeAdmin.Server.Queries" minOccurs="0" name="queryParameters" nillable="true" type="q1:QueryParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DS.OrangeAdmin.Core.DTO" minOccurs="0" name="GetClientsResult" nillable="true" type="q2:ArrayOfClientDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>