01 - Código/DS.OrangeAdmin/DS.OrangeAdmin.DataProvider/Service References/OrangeAdminService/OrangeAdminService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DS.OrangeAdmin.Core.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DS.OrangeAdmin.Core.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45985/OrangeAdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BaseDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="UpdatedAt" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDTO" nillable="true" type="tns:BaseDTO" />
</xs:schema>